#wrapper{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#92A8D1;
  width:100%;
  margin:0;
}

h1{
  border-bottom:2px solid #172136;
}
h2{
  border-bottom:1px solid #172136;
}
pre{
  background-color:white;
  white-space:pre;
  padding:5px 0 5px 5px;
}
code{
  background-color:white;
  padding:1px 4px 2px 4px;
}
p{
  display:block;
}
table{
  border-collapse:collapse;
  text-indent:initial;
}
tr{
  display:table-row;
}
th{
  border:2px solid#172136;
  display:table-cell;
  padding:2px 4px;
}
tbody{
  display:table-row-group;
}   
td{
  border:2px solid #172136;
  padding:2px 4px;
}
.expand{
  width:100%;
}
.hide{
  display:none;
}
blockquote{
  color:#172136;
  font-weight:700;
  border-left:3px solid #172136;
  padding-left:5px;
}